<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <context-param>
    <param-name>webAppRootKey</param-name>
    <param-value>clinicaApp</param-value>
  </context-param>
  
  <servlet>
  	<servlet-name>registroConsultaServlet</servlet-name>
  	<servlet-class>pe.edu.upc.dsd.grupoclass.controller.RegistroConsultaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registroConsultaServlet</servlet-name>
  	<url-pattern>/registroConsultaServlet</url-pattern>
  </servlet-mapping>
      <servlet>
    <servlet-name>ventaMedicamentosServlet</servlet-name>
    <servlet-class>pe.edu.upc.dsd.grupoclass.controller.VentaMedicamentosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ventaMedicamentosServlet</servlet-name>
    <url-pattern>/ventaMedicamentosServlet</url-pattern>
  </servlet-mapping>
  <session-config>
        <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>


<!--   
	<servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>sys.upc.servlet.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
-->